<html>
    <head>
        <title> BLOG </title>
        <link rel ="stylesheet" type = "text/css" href = "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css" >
        <link rel="stylesheet" type ="text/css" href="/stylesheets/app.css">
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class = "ui container">
                <div class = "header item"> <i class="code icon"></i>BLoG SiTe </div>
                <a href ="/" class="item"> HOME </a>
                <a href ="/blogs/new" class="item"> NEW </a>
            </div>
            
        </div>



<%# <html>
    <head>
        <title> BLOG </title>
        <link rel ="stylesheet" type = "text/css" href = "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css" >
    </head>
    <body>
            <div class="ui secondary pointing menu">
        <a class="active item">
            <p>                                  </p>
        </a>
        <a class="active item">
            Home
        </a>
        <a class="item">
            Messages
        </a>
        <a class="item">
            Friends
        </a>
        <div class="right menu">
            <a class="ui item">
            Logout
            </a>
        </div>
        </div>
        <div class="ui segment">
        <p>addsfffffffffffffffffaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
        </div>
             %>
